<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>22-11-2020</td>
                    <td>{{this.product.Name}}</td>
                    <td>60000</td>
                    <td>1</td>
                    <td>shipped</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>